{% extends 'layout.html.twig' %}
{% block content %}
    <section id="team" class="container">
        <div class="col-xs-12">
            <h2>L'équipe</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4">
                        <div>
                            <img class="img-circle" src="/assets/images/albert.jpg" alt="albert">
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus id maxime quia? Ad eveniet facilis iste pariatur provident quasi sit sunt ut veniam! Cupiditate facere impedit libero similique vero!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-xs-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus id maxime quia? Ad eveniet facilis iste pariatur provident quasi sit sunt ut veniam! Cupiditate facere impedit libero similique vero!</p>
                </div>
                <div class="col-xs-4">
                    <div>
                        <img class="img-circle" src="/assets/images/albert.jpg" alt="albert">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}