.gallery-admin img {
    height: 50px;
    width: 80px;
}

.gallery-admin label {
    font-size: 0.8em;
}

.gallery-admin h3 {
    text-align: center;
    margin-bottom: 25px;
}
.gallery-admin label {
    font-size: 0.6em;
}

.gallery-admin .jumbotron {
    background-color: white;
    padding-bottom: 35px;
    padding-top: 30px;
}

.gallery-admin th {
    font-size: 0.7em;
    padding-right: 25px;
    padding-left: 15px;
}

@-moz-document url-prefix() {
    .form-control {
        height: inherit;
    }
}


.admin-menu .nav-tabs > li.active > a {
    background-color: #EEE;
    color: #333;
}

.section-admin {
    padding-top: 10px;
    Padding-bottom: 10px;
}

label {
    font-size: 20px;
}

.notification {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


/*admin*/
.admin-footer {
    background-color: transparent;
}

.title_admin_comp {
    color: #728e20;
    font-size: 1em;
    font-family: plaza;
}

#mentions_legales {
    max-height: 50px;
}

/*team admin*/
.img-slider {
    object-fit: cover;
    max-height: 250px;
    min-height: 250px;
    width: 100%;
}

