h3 {
    font-family: nexarust;
    color: #728e20;
    font-size: 3.5rem;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
.prevention {
    font-family: nexa;
    font-size: 3rem;
    padding-left: 10vh;
}
p {
    font-family: "Open Sans";
    font-size: 2rem;
}
h4 {
    color: #ee7722;
    font-weight: bold;
    font-size: 2.5rem;
}
h2 {
    text-align: center;
    font-family: nexa;
    color: #ee7722;
    font-size: 4.5rem;
    background-image: url("../images/banderole3.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    padding-top: 90px;
}
body {
    background-image: url("../images/grey_background.jpg");
}
@media screen and (max-width: 500px) {
    h2 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 1.7em;
    }

    h4 {
        font-size: 1.4em;
    }

    p {
        font-size: 1em;
    }

}
.price {
    color: #ee7722;
    padding-top: 2rem;
    margin: 0;
    font-style: unset;
}
.ingredients {
    font-style: italic;
}
