/*footer*/
footer {
    background-color: #343232;
    height: 340px;
    margin-top: 10px;
}

.icons {
    padding-right: 0;
    padding-left: 0;
    margin-top: 16rem;
    text-align: center;
}

.list-inline img {
    width: 32px;
    height: 32px;
}

.list-inline > li > a > i > img:hover {
    animation: spinAround 2s linear infinite;
}

.phone {
    width: auto;
}

.phone p {
    margin-bottom: 0;
    text-align: center;
}

footer ul {
    margin-top: 8.5rem;
    font-size: 0.8em;
}

footer p {
    color: #C5C1C2;
    margin-left: 1vh;
    padding: 0;
}

.listlink a {
    color: #C5C1C2;
    font-size: 1.8em;
}

.listlink > ul > li > a:hover {
    color: #728e20;
    text-decoration: none;
}

.face {
    float: right;
    padding: 5px 0px 5px 0px;
    text-align: center;
    max-height: 20%;
}

.listlink > ul > li > a::before {
    content: "| ";
    color: orangered;
}

@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 415px) {
    .list-inline img {
        width: 26px;
        height: 26px;
    }

    .listlink a {
        font-size: 1em;
    }

    .phone p {
        font-size: 1rem;
    }

    footer {
        height: 100px;
    }

    footer ul {
        margin-top: 0.9rem;
    }

    .icons {
        margin-top: 2.3rem;
    }
}

.link_mentions {
    color: #E72;
}

.link_mentions:hover {
    color: #aed135;
}