/*footer*/
footer {
    height: 65vh;
    background-color: #8f8a8a;
}

.icons {
    padding-right: 0;
    padding-left:  0;
    margin-top: 16rem;
    text-align: center;
}

.list-inline img {
    width: 32px;
    height: 32px;
}

.phone p{
    text-align: center;
}
footer ul {
    margin-top: 8.5rem;
}
footer p {
    color: #343232;

}
.listlink a{
    color: #343232 ;
    font-size: 2rem;
    line-height: 200%;
}
.listlink>ul>li>a:hover {
    color: #728e20;
    text-decoration: none;
}
.face {
    float: right;
    padding: 3vh 0;
    text-align: center;
    max-height: 20%;
}

@media screen and (max-width: 415px) {
    .list-inline img {
        width: 26px;
        height: 26px;
    }
    .listlink a{
        font-size: 1em;
        }
    .phone p{
        font-size: 1rem;
        }
    footer {
        height: 38vh;
    }

    footer ul {
        margin: 2rem;
    }
    .icons {
        margin: 2rem;
    }
}