/*footer*/
footer {
    height: 400px;
    background-color: #343232;
}

.icons {
    padding-right: 0;
    padding-left: 0;
    margin-top: 16rem;
    text-align: center;
}

.list-inline img {
    width: 32px;
    height: 32px;
}

.phone p{
    text-align: center;
}

footer ul {
    margin-top: 20px;
}

footer p {
    color: #C5C1C2;

}
.listlink a{
    color: #C5C1C2;
    font-size: 2rem;
    line-height: 200%;
}

.listlink > ul > li > a:hover {
    color: #E72;
    text-decoration: none;
}

.face {
    float: right;
    margin-top: 20px;
    text-align: right;
    max-height: 380px;
}

@media screen and (max-width: 415px) {
    .list-inline img {
        width: 26px;
        height: 26px;

    }
    .listlink a{
        font-size: 1em;
        }
    .phone p{
        font-size: 1rem;
        }
    footer ul {
        margin: 2rem;
    }
    .icons {
        margin: 2rem;
    }

    .listlink a {
        font-size: 1em;
    }

    .phone p {
        font-size: 1rem;
    }

    footer {
        height: 200px;
    }
}

.link_mentions {
    color: #E72;
}

.link_mentions:hover {
    color:  #E72
}