.gallery-page a img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    margin: 6px;
}

.gallery-page a img:hover{

    opacity: 0.6;
    transition: opacity 0.2s;
    cursor: pointer;
}

.gallery-page .modal img {
    width: 100%;
}

.gallery-page .img-container {
    padding: 3px;
    margin: 0;
}

.gallery-page img.image-responsive {
    margin: 1px;
}
.gallery-page h2 {
    text-align: center;
    font-family: nexa;
    color: #ee7722;
    font-size: 4.2rem;
    background-image: url("../images/banderole2.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    padding-top: 50px;
    transform: rotate(7deg);
    margin-top: 0;
    margin-bottom: 5vh;
}
.gallery-page {
    background-image: url("../images/grey_background.jpg");
}