/* Navbar */
.navbar-fixed-top {
    background-color: #728e20;

}
.navbar-default .navbar-nav>li>a {
    font-size: 1.5em;
    color: white;
    height: 70px;
    vertical-align: center;
}
.navbar>.container .navbar-brand{
    color: white;
    font-size: 2em;
    margin-top: 3vh;

}

.logo{
    width: 100px;
    height: auto;
}