/* Navbar */

.navbar-fixed-top {
    background-color: white;
    height: 70px;
}

.navbar-default {
    border: 0;
}
.navbar-default .navbar-nav > li {
    background-color: white;
}
.navbar-default .navbar-collapse {
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    font-size: 2rem;
    color: black;
    line-height: 200%;
    font-family: "Open Sans";
    margin-right: 1vw;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#728e20;
}

.logo{
    width: 70px;
    height: 60px;
}

.navbar-nav {
    float: right;
}

.navbar-brand {
    height: inherit;
    display: flex;
    padding: 3px;
}

.cameleon {
    font-size: 3rem;
    color:#728e20;
    margin: auto;
    font-family: "nexa";
    height: inherit;
    margin-left: 1vw;
}

.navbar-default .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #aed135;
}

@media screen and (max-width: 425px) {
    .cameleon {
        font-size: 2.5rem;
    }
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav>li {
        float: none;
    }

    .collapse.in{
        display:block !important;
    }
}