/* Navbar */
@font-face {
    font-family: plaza;
    src: url(../fonts/29849_PlazaITC-Normal.ttf);
    font-weight: normal;
    font-style: normal;
}

.navbar-fixed-top {
    background-color: #aed135;
    height: 70px;
}


.navbar-default .navbar-collapse {
    background-color: #aed135;
    border:0px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 25px;
    color: #FFF;
    line-height: 150%;
    font-family: "plaza", "Open Sans";
}

.navbar-default .navbar-nav>li>a:hover {
    color:#728e20;
}

.logo{
    width: 70px;
    height: 60px;
}

.navbar-nav {
    float: right;
}
.navbar-brand {
    height: inherit;
    display: flex;
    padding: 3px;
}
.cameleon {
    font-size: 1.7em;
    color: #FFF;
    line-height: 200%;
    font-family: "plaza", "Open Sans";
    height: inherit;
    margin-left: 1vw;
}

@media screen and (max-width: 400px) {
    .cameleon {
        font-size: 1em;
    }

}
.navbar-default .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #aed135;
}