.hour{
    font-weight: bold;
    margin-left:10px;
}

.places-map{
    height: 70vh;
    margin-bottom:50px;
    margin-top:40px;
}

h3{
    color:#728e20;
    margin-top:5px;
}

.marker{
    font-size:0.9em;
}

.hour{
    font-size:0.9em;
}
