/* GLOBAL */

@font-face {
    font-family: nexa;
    src: url(../fonts/NexaRustScriptL-0.otf);
}

@font-face {
    font-family: nexarust;
    src: url("../fonts/NexaRustSlab-BlackShadow01.otf");
}
@font-face {
    font-family: peax;
    src: url("../fonts/PeaxWebdesignarrows.ttf");
}
body {
    background-color: #F3F3F3;
    font-family: "Open Sans";
    font-size: calc(15px + 0.5vw);
    margin-top: 70px;
}

section{
    padding-top: 8vh;
    padding-bottom: 8vh;
}

a {
    color: #E72;
}

a:hover {
    color: #333;
}

.container {
    margin-bottom: 20px;
}

/* alert */
.alert-message, .alert-danger {
    color: white;
    font-size: 2rem;
    background-color: #ee7722;
    padding: 0;
    margin: 0;
}

.alert-success {
    color: white;
    font-size: 2rem;
    background-color: #728e20;
    padding: 0;
    margin: 0;
}

/* slider */
.slider-indicator {
    font-family: "peax", fantasy;
    font-size: 6rem;
    color: #647c1c;

}

.carousel {
    line-height: 400px;
}

.imgs-slider {
    object-fit: cover;
    max-height: 400px;
    min-height: 400px;
    width: 100%;
}
.img-slider {
    object-fit: cover;
    height: 300px;
}
.slider {
    padding: 0;
}

/* concept */

.title_concept {
    text-align: center;
    font-family: nexa;
    color: #ee7722;
    font-size: 4.2rem;
    background-image: url("../images/banderole2.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    padding-top: 50px;
    margin-bottom: 30px;
    transform: rotate(7deg);
    margin-top: 0;
}
@media screen and (max-width: 500px) {
    .title_concept {
        background-image: unset;
        transform: rotate(0deg);
        height: 50px;
        padding-top: unset;
    }
}
.text_concept {
    background-color: transparent;
    text-align: center;
    padding: 0 10vw;
    font-size: 2rem;
}

/*spotlight*/

.title_spotlight {
    text-align: center;
    margin-top: 20px;
    font-family: nexarust;
    color: #ee7722;
}

.text_spotlight {
    margin-left: 2vh;
}

#spotlight {
    margin-bottom: 25px;
    background-image: url("../images/grey_background.jpg");
    background-size: cover;
}

/* team */

.perso h4 {
    font-size: 3rem;
    text-align: center;
    color: #ee7722;
    font-family: nexa;
}

.perso img {
    margin: auto;
    padding: auto;
}
.team img {
    max-height: 200px;
    object-fit: cover;
}

.team .description-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.team h2 {
    text-align: center;
    font-family: nexa;
    color: #ee7722;
    font-size: 4.2rem;
    background-image: url("../images/banderole2.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    padding-top: 50px;
    transform: rotate(7deg);
}
@media screen and (max-width: 500px) {
    .team h2 {
        background-image: unset;
        transform: rotate(0deg);
        height: 50px;
        padding-top: unset;
    }
}
.team center-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 766px) {

    .alert-message {
        color: white;
        font-size: 1.2em;
        background-color: #ee7722;
        padding: 0;
        margin: 0;
    }

    .description-container {
        padding-top: 15px;
    }
}

/* Gallery */

.gallery {
    background-image: url("../images/grey_background.jpg");
}
.gallery a img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    margin: 6px;
}

.gallery a img:hover {
    opacity: 0.6;
    transition: opacity 0.2s;
    cursor: pointer;
}

.gallery .modal img {
    width: 100%;
}

.gallery .img-container {
    padding: 3px;
    margin: 0;
}

.gallery img.image-responsive {
    margin: 1px;
}

.gallery .button-container {
    padding: 0 30px;
}

.gallery .button-container a {
    background-color: #728e20;
    font-size: 2rem;
    color: white;
    width: 250px;
    height: 50px;
    margin-top: 15px;
    padding-top: 10px;
    box-shadow: 3px 3px 3px #787373;
}

.gallery .button-container a:hover {
    background-color: #ee7722;
}
.gallery h2 {
    font-family: nexarust, sans-serif;
    font-size: 4rem;
    color: #728e20;
}
