.icons {

    padding-right: 0;
    padding-left:  0;
    margin-top: 15px;
}
footer ul {

    margin-top: 10px;
}
footer p {

    color: #C5C1C2;
    margin: 0;
    padding: 0;
}
.listlink a{

    color: #C5C1C2 ;
}
