{#todo footer#}
<!--Footer-->
<footer class="font-small container-fluid" style="background-color: #728e20">
<div class=" row " >

    <div class="col-xs-5 " >

        <!--Sociale Media-->
        <div class="col-sm-12 icons"  >
            <ul class=" list-inline ">
                <li class="list-inline-item ">
                    <a class=" ">
                        <i class="facebook "><img src="assets/images/facebook.png"> </i>
                    </a>
                </li>
                <li class="list-inline-item ">
                    <a class=" ">
                        <i class="twitter "> <img src="assets/images/twitter.png"></i>
                    </a>
                </li>
                <li class="list-inline-item ">
                    <a class=" ">
                        <i class="instagram "><img src="assets/images/instagram.png"> </i>
                    </a>
                </li>

            </ul>

        </div>
        <!--End of the sociale midia-->
        <!--Footer Telephone-->
        <div class="col-sm-12 small" >
            <p class=" mx-0 ">Mentions légales</p>
            <p class=" mx-0 ">0612345678</p>

        </div>
        <!--End off the Footer Telephone-->

    </div>
                           <!--a div empty-->
                            <div class="col-xs-4" style="display: block">

                            </div>
    <!--Footer Links-->
    <div class="col-xs-3 small  listlink" style="display: inline">
        <ul class="list-unstyled">
            <li>
                <a href="#!" >Notre carte</a>
            </li>
            <li>
                <a href="#!" >Où nous trouver</a>
            </li>
            <li>
                <a href="#!" >Concept</a>
            </li>
            <li>
                <a href="#!" >L'equipe</a>
            </li>
            <li>
                <a href="#!" >Galerie</a>
            </li>
        </ul>
    </div>
    <!--End the Footer Links-->
</div>
</footer>
