<!--Footer-->
<footer class="font-small container-fluid ">
    <div class=" row ">
        <!--Footer Links-->
        <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 small  listlink">
            <ul class="list-unstyled">
                <li>
                    <a href="#!">Notre carte</a>
                </li>
                <li>
                    <a href="/lieux">Où nous trouver</a>
                </li>
                <li>
                    <a href="#concept">Concept</a>
                </li>
                <li>
                    <a href="#team">L'equipe</a>
                </li>
                <li>
                    <a href="#galerie">Galerie</a>
                </li>
            </ul>
        </div>
        <!--End the Footer Links-->
        <div class="col-xs-6 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
            <!--Sociale Media-->
            <div class="icons">
                <ul class=" list-inline ">
                    <li class="list-inline-item">
                        <a href="https://fr-fr.facebook.com/lecameleonvoyageur/">
                            <i><img src="assets/images/facebook.png"></i>
                        </a>
                    </li>
                    <li class="list-inline-item ">
                        <a href="#">
                            <i> <img src="assets/images/twitter.png"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i><img src="assets/images/instagram.png"></i>
                        </a>
                    </li>
                </ul>
                <!--End of the sociale midia-->
                <!--Footer Telephone-->
                <div class="phone">
                    <p class=" mx-0 ">Mentions légales</p>
                    <p class=" mx-0 "> 06 12 34 56 78</p>
                </div>
                <!--End off the Footer Telephone-->
            </div>
        </div>
        <!--facebook-->
        <div class="fb-page hidden-xs hidden-sm  col-md-4 col-lg-4 face"
             data-href="https://www.facebook.com/lecameleonvoyageur/"
             data-tabs="timeline" data-height="290" data-small-header="true" data-adapt-container-width="false"
             data-hide-cover="false"
             data-show-facepile="false">

            <blockquote cite="https://www.facebook.com/lecameleonvoyageur/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/lecameleonvoyageur/">Le Cameleon Voyageur</a>
            </blockquote>
        </div>
        <!--faceboook-->
    </div>
    <div id="fb-root"></div>
</footer>
