{#todo footer#}
<!--Footer-->
<footer class="font-small container-fluid" style="background-color:black">
<div class=" row " >

    <div class="col-xs-6 col-md-3 col-lg-4" >

        <!--Sociale Media-->
        <div class="col-xs-12 icons"  >
            <ul class=" list-inline ">
                <li class="list-inline-item">
                    <a href="https://fr-fr.facebook.com/lecameleonvoyageur/">
                        <i ><img src="assets/images/facebook2.png"> </i>
                    </a>
                </li>
                <li class="list-inline-item ">
                    <a href="#">
                        <i > <img src="assets/images/twitter2.png"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i ><img src="assets/images/instagram2.png"> </i>
                    </a>
                </li>

            </ul>

        </div>
        <!--End of the sociale midia-->
        <!--Footer Telephone-->
        <div class="col-xs-12 small" >
            <p class=" mx-0 ">Mentions légales</p>
            <p class=" mx-0 ">0612345678</p>

        </div>
        <!--End off the Footer Telephone-->

    </div>

    <!--Footer Links-->
    <div class="col-xs-4 col-md-3 col-lg-4 small  listlink" style="display: inline">
        <ul class="list-unstyled">
            <li>
                <a href="#!" >Notre carte</a>
            </li>
            <li>
                <a href="#!" >Où nous trouver</a>
            </li>
            <li>
                <a href="#!" >Concept</a>
            </li>
            <li>
                <a href="#!" >L'equipe</a>
            </li>
            <li>
                <a href="#!" >Galerie</a>
            </li>
        </ul>
    </div>
    <!--End the Footer Links-->

    <!--facebook-->
    <div class="hidden-sm hidden-xs col-md-3 col-lg-4 face">
           <img src="assets/images/face.jpg">
    </div>
    <!--faceboook-->


</div>
</footer>
