{% block body %}
    <div class="scrollspy">
        <nav id="myScrollspy" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><img src="assets/images/logo_cameleon.png"
                                                          class="logo img-responsive" alt="logo"><span class="cameleon">Le cameleon voyageur</span></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/#concept">Le concept</a></li>
                        <li><a href="/#team">L'équipe</a></li>
                        <li><a href="/gallery">La galerie</a></li>
                        <li><a href="/menu">Notre carte</a></li>
                        <li><a href="/lieux">Où nous trouver</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
