{% if alert.activated == 1 %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center alert-message">
                <p>{{ alert.alert }}</p>
            </div>
        </div>
    </div>
{% endif %}