<section id="concept">
    <div class="container">
        <div class="row">
            <h2 class="title_concept">Le Concept</h2>
            <p class="text_concept">{{company.concept|raw}}</p>
        </div>
    </div>
</section>