{% extends 'main/body.html.twig' %}

{% block content %}
    <section class="section-white" id="alert"></section>
    <section class="section-black" id="header"></section>
    <section class="section-white" id="spotlight"></section>
    <section class="section-black" id="concept"></section>
    <section class="section-white" id="team"></section>
    <section class="section-black" id="gallerie"></section>
{% endblock %}