{% extends 'main/body.html.twig' %}

{% block content %}
    <section id="alert"></section>
    <section id="header"></section>
    <section id="spotlight"></section>
    <section id="concept"></section>
    {% include 'include/team.html.twig' %}
    <section id="gallerie"></section>
{% endblock %}