{% extends 'main/body.html.twig' %}

{% block content %}
    <section id="alert"></section>
    <section id="header"></section>
    {% include 'main/spotlight.html.twig' %}
    <section id="spotlight"></section>
    <section id="concept"></section>
    <section id="team"></section>
    <section id="gallerie"></section>
{% endblock %}