{% extends 'main/body.html.twig' %}
{% block content %}
    <section id="alert"></section>
    <section id="header"></section>
    <section id="spotlight"></section>
    {% include 'main/concept.html.twig' %}
    <section id="team"></section>
    <section id="gallerie"></section>
{% endblock %}