{% extends 'main/body.html.twig' %}
{% block content %}
    {% include 'main/alert.html.twig' %}
    {% include 'main/slider.html.twig' %}
    <section id="alert"></section>
    <section id="header"></section>
    {% include 'main/concept.html.twig' %}
    {% include 'main/spotlight.html.twig' %}
    {% include 'main/team.html.twig' %}
    {% include 'main/gallery.html.twig' %}
{% endblock %}