<section id="spotlight">
    <div class="container">
        <div class="row">
            <h2 class="title_spotlight">En Lumiere</h2>
            <p class="text_spotlight">{{spotlight[0].text}}</p>
        </div>
    </div>
</section>