<section id="spotlight">
    <div class="container">
        <h2 class="title_spotlight visible-xs">Les news du camion</h2>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <img class="img_spotlight img-responsive"
                     src="{{spotlight.photo}}" alt="{{spotlight.alt}}"/>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="row">
                    <h2 class="title_spotlight hidden-xs">Les news du camion</h2>
                </div>
                <div class="row text_spotlight">
                    <p>{{spotlight.text|raw}}</p>
                </div>
            </div>
        </div>
    </div>
</section>